.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #ffffff;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("https://c.tenor.com/UDC3OVGA1jcAAAAi/icon.gif") no-repeat
    fixed center rgba(255, 255, 255, 1);
  visibility: hidden;
}

#upload-div {
  margin-top: 50px;

}


.loading #load {
  visibility: visible;
}
#data-grid-div {
  margin-top: 50px;
  margin-left: 500px;
  visibility: hidden
}

.loading #data-grid-div {
    visibility: visible;
}


#instruction-div {
  text-align: left;
  border: 3px solid rgb(0, 0, 0);
  margin-left: 20%;
  margin-right: 20%;
}

#select-upload-div {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 75px;
}


#upload-div {
  padding-top: 0px;
}


#check-file-div {
  padding-top: 20px;
}


#check-sensors-div {
  padding-top: 20px;
}


#process-sensors-div {
  padding-top: 20px;
}

#signout-div {
  margin: auto;
  width : 100px;
  margin-top: 50px;


}


.App-link {
  color: #61dafb;
  min-height: 100vh;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
